/* desktop.css */

/* Reset margins and padding for html and body */
html, body {
    margin: 0;            /* Remove default margin */
    padding: 0;           /* Remove default padding */
    height: 100%;         /* Set height to 100% */
    overflow: hidden;     /* Prevent overflow */
}

/* Desktop version styles */
.desktop {
    height: 100vh;        /* Full height of the viewport */
    width: 100vw;         /* Full width of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('tcd.png');
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the background image */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 60px;
    font-weight: 500;
    color: #4B5A37;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.intro {
    font-size: 12px;
    color: #B91000;
    letter-spacing: 1px;
}

.footer {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.icon-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

i {
    font-size: 30px;
    color: white;
    transition: transform 0.2s, color 0.2s;
}

i:hover {
    transform: scale(1.2);
    color: lightblue;
}

/* Hide mobile version on desktop */
.mobile {
    display: none;
}




